.formClass{
    background: #e6e6e6;
    font-family: "Helvetica";
  }
  
  
  #form  { 
    display: table;
    padding-top:5%;
  }
  .para{ 
    display: table-row;  
   
  }
  p>label{
    margin:12px;
  }
  .FormLabel { 
    display: table-cell;
    text-align: right;
    
    font-weight: bold;
  
  
  }
.FormInput { 
    display: table-cell;
    background: #ffffff;
    height: 36px;
    width: 300px;
    border: #ffffff;
    margin-left:12%;
    border-radius: 15px 5px;
    padding-left: 7%;
    outline:none;
  }
  
  textarea {
    margin-left: 10%;
    border-radius: 15px 5px;
    border: #ffffff;
    font-family:"Helvetica";
    list-style: 150px;
    resize: none;
    text-align:center ;
  
  }
  
  #buttona{
    align-items: center;
  }
  
  hr{
      width:60%;
      border-top: 8px solid gray;
  }
  #pointer {
    width: 200px;
    position: absolute;
    height: 40px;
    position: relative;
    background: red;
  }
  #pointer:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
  }
  #pointer:before {
    content: "";
    position: absolute;
    bottom: -11px;
    width: 0;
    right: -25px;
    height: 0;
    border-left: 30px solid red;
    border-top: 32px solid transparent;
    border-bottom: 30px solid transparent;
  
  }